
.idea/.name

.idea/compiler.xml

*.xml

.idea/copyright/profiles_settings.xml

.idea/encodings.xml

.idea/lockGame.iml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/vcs.xml
